!!! 5
%html
  %head
    %title JS Wiki
    %meta{:charset => 'utf-8'}
    = stylesheet_link_tag 'site'
    = stylesheet_link_tag 'main'
    = javascript_include_tag 'lib/underscore'
    = javascript_include_tag 'lib/jquery-1.7.2'
    = javascript_include_tag 'lib/backbone'
    = javascript_include_tag 'lib/Markdown.Converter'
    = javascript_include_tag 'lib/Markdown.Sanitizer'
    = javascript_include_tag 'templates'
    = javascript_include_tag 'views'
    = javascript_include_tag 'models'
    = javascript_include_tag 'router'
    = javascript_include_tag 'app'
    = yield_content :head
  %body
    .header
      %h1 JS Wiki
      .links
        %a{:href => '#home'} home
        %a{:href => '#help'} help
        %a{:href => '#new'} create a new page
    #main
      =yield
