!!! 5
%html
  %head
    %title JS Wiki
    %meta{:charset => 'utf-8'}
    = stylesheet_link_tag 'site'
    = stylesheet_link_tag 'main'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Norican'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Dosis'
    = javascript_include_tag 'lib/underscore'
    = javascript_include_tag 'lib/jquery-1.7.2'
    = javascript_include_tag 'lib/backbone'
    = javascript_include_tag 'lib/Markdown.Converter'
    = javascript_include_tag 'lib/Markdown.Sanitizer'
    = javascript_include_tag 'templates'
    = javascript_include_tag 'views'
    = javascript_include_tag 'models'
    = javascript_include_tag 'router'
    = javascript_include_tag 'app'
  %body
    %header
      .page-title JS Wiki
      %nav.links
        %a{:href => '#home'} home
        %a{:href => '#help'} help
        %a{:href => '#new'} create a new page
        %a{:href => '#pages'} pages
      .clearfix
    #main
      .articleView
    .templates

      .articleEditTemplate
        .inputs
          %label{:for => 'title'} Title
          %input.title-input{:id => 'title', :type => "text", :value => "{{title}}"}
          %label{:for => 'permalink'} Permalink
          %input.permalink-input{:id => 'permalink', :type => "text", :value => "{{permalink}}"}
          %textarea.body-input
            {{body}}
          .controls
            %a.save Save
            %a.cancel{:href => '#{{permalink}}'} Cancel
        .preview
          .title-bar
            .title {{title}}
            .body
              {{bodyHTML}}
        .clearfix

      .articleViewTemplate
        .title-bar
          .title {{title}}
          %a.edit{:href => '#{{permalink}}/edit'} edit
        .body {{bodyHTML}}
      .articlePreviewTemplate
        %a.edit{:href => '#{{permalink}}'} {{title}}
        %br
